.botones-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
    width: 100%;
}
.botones-menu a{
    margin: 2px;
    font-size: 24px;
    padding: 10px;
}

.menu-botones button{
    margin-inline: 5px;
}